<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fan Art</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <header>   
        <div class="headerClass">
            <div class="weekndText" > <a href="#">The Weeknd</a></div>
            <ul>
                <li>
                <a href="/">Home</a>
                </li>
                <li>
                <a href="/albums">Albums</a>
                </li>
                <li >
                <a href="/forums">Chat</a>
                </li>
                <li>
                <a href="/forums">Reach Out</a>
                </li>
                
            </ul>
        </div>
    </header>
    <div class="card">
        <img src="/images/<%= art[0] %>" alt="image" >
            <div class="thumbContainer">
                <i class="fa fa-thumbs-o-up newnew"></i>
                <i class="fa fa-thumbs-o-down"></i>
                </div>
            
    </div>
    



</body>
</html>