<!doctype html>
<html lang="en">
  <head>
    <title>The Weeknd</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/images">
    
  </head>

  <body>
      <div class="headerClass">
          <div class="weekndText" > <a href="#">The Weeknd</a></div>
        <ul>
          <li >
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/albums">Albums</a>
          </li>
          <li >
            <a href="/forums">Chat</a>
          </li>
          <li>
            <a href="/forums">Reach Out</a>
          </li>
        </ul>
      </div>
  <div class="heroSection">
    <div class="heroContent">
      <a href="/about">
        <img class="heroImage"src="/images/<%=photo[1]%>" alt="The Weeknd"> 
      </a>
    </div>
  </div>
    
    <!-- <header class = "hero">   

  </div>
  <div class ="backgrounds">
    <div class= "opacity background" style="background-image: url('/images/microphoneBackground.jpg') "> </div>
</div> 
    
</header>-->

      


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>