.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: -1; }
    .backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed;
}

.opacity{
    background-color:rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    opacity: .67;
    background:rgb(0, 0, 0)
    /* z-index: 100; */
}

.heroSection {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:80px 80px;
    height:700px;
    position:relative;
    z-index: 1;
}
    

    .cursive{
        font-family: 'Niconne', cursive;
    }

    /* p{

        font-size: 30px;
        margin:40px;
        padding-left: 20%;
        padding-right: 20%;    
        color:red
        
    } */
    span{
        font-size: 50px;
        padding-left: 10%;
        padding-right: 10%;    
        color: rgb(214, 195, 22);
    }
    .box{
        opacity: .8;
        border: solid black;
        margin: 30%;
        font-weight: bold;
    }
    
    h2{
        padding-right: 45px;
    }


a{
    color:rgb(252, 65, 65)
}

.heroImage{
    box-shadow: 2px 4px 4px #888888;
    width:400px;
}

.hidden{
    visibility: hidden;
    width :100%;
    height: 80px;
}
.yellow{
    color: rgb(214, 195, 22);
}
.forumPads{
    padding:20px;
}

/* the 2nd time */

ul{
    display:flex;
    list-style-type:none;
    align-items:center;
    justify-content:center;
}
li{
    padding:8px;
}

.headerClass{
    display:flex;
    justify-content:space-between;
    height:50px;
    top:0;
    padding: 0 24px;
    z-index:1;
    width:100%;
    margin-top:15px;
    background:transparent;
}

.weekndText{
    display:flex;
    font-size: 25px;
    justify-content: flex-start;
}

.albumContentContainerBlack{
    background:#020c0c
}
.albumContentContainerWhite{
    background: rgb(255, 255, 255);
}

.albumWrapper{
    display:grid;
    z-index: 1;
    height:500px;
    width:100%;
    max-width:1100px;
    margin-right:auto;
    margin-left:auto;
    padding: 0 24px;
    justify-content:center;
}

.albumRow{
    display:grid;
    grid-auto-columns: minmax(auto,1fr);
    align-items: center;
    grid-template-areas:"col1 col2 col3";

}
@media screen and (max-width:768px) { 
    body{
        grid-template-areas:"col1 col2";
        }   
    }

.column1{
    margin-bottom:15px;
    padding:0 15px;
    grid-area: col1;
}

.column2{
    margin-bottom: 15px;
    padding:0 15px;
    grid-area: col2;
    color:#888888
}
.column3{
    margin-bottom:15px;
    margin-left:10px;
    padding:0 25px;
    grid-area: col3;
}

.albumTextWrapper{
    max-width: 800px;
    padding-top:0px;
    padding-bottom: 60px;

}


.albumName{
    color:rgb(141, 81, 81);
    font-size:20px;
    line-height:16px;
    font-weight: 550;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.imageDesign{
    width:75%;
    margin-top: 24px;
    margin-bottom: 24px;;
}

.buttonWrapper{
    display:inline;
    justify-content: flex-start;
}
.buttonStyle{
    border-radius: 50px;
    background:#007bff;
    white-space: nowrap;
    padding:7px 20px;
    color:#010606;
    font-size: 13px;
    outline:none;
    border:none;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    margin:5px;

}

.mainContainer{
    width:100%;
    height:100vh;
    background: #08092c;
}

.card{
    width:250px;
    border: none;
    box-shadow: 5px 5px 5px 2px #020c0c;
    border-radius:12px;
}
.card:hover{
    transition:all .3s ease-in-out;
    box-shadow: 7px 7px 7px 4px #020c0c;

}

.thumbContainer{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-around;
    font-size: 35px;
    margin:5px;
}

.thumbUpClass{
    color:rgb(216, 109, 10);
    font-size: 20px;
}
.thumbDownClass{
    color:rgb(216, 109, 10);
    font-size: 20px;
}
.thumbUpClass:hover{
    color:green;
    transition:all .3s ease-out;
    text-shadow: 7px 0 8px black;

}
.thumbDownClass:hover{
    color:rgb(245, 10, 2);
    transition:all .3s ease-out;
    text-shadow: 7px 0 8px black;

}

.thumbs-down:hover{
    color:#fff;
    background-color: red;
    border:1px solid red;
}